{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
    <div>
        <h1>{{name}}</h1>
    </div>

    <div>
        <em>{{birthdate}}</em>
    </div>

    <div>
        <em>{{birthplace}}</em>
    </div>

    <div>
        <em>{{deathdate}}</em>
    </div>

    <div>
        <em>{{deathplace}}</em>
    </div>

    <div>
        <em>{{occupation}}</em>
    </div>

    <div>
        <em>{{known_for}}</em>
    </div>

    <br>
    <hr>

    <div>
        <strong>Education</strong>
    </div>
    <div>
        <ul>
            {{#each education}}
            <li>
                {{degree}}
            </li>
            <li>
                {{field}}
            </li>
            <li>
                {{institution}}
            </li>
            <li>{{year}}</li>
            {{/each}}
        </ul>
    </div>

    <br>

    <div>
        <strong>Notable publications</strong>
    </div>
    <div>
        <ul>
            {{#each notable_publications}}
            <li>
                {{title}}
            </li>
            <li>
                {{year}}
            </li>
            <li>
                {{publisher}}
            </li>
            {{/each}}
        </ul>
    </div>

    <br>

    <div>
        <strong>Partners</strong>
    </div>
    <div>
        <ul>
            {{#each partners}}
            <li>
                {{name}}
            </li>
            <li>
                {{relationship}}
            </li>
            <li>
                {{years}}
            </li>
            {{/each}}
        </ul>
    </div>

    <br>

    <div>
        <strong>Awards</strong>
    </div>
    <div>
        <ul>
            {{#each awards}}
            <li>
                {{title}}
            </li>
            <li>
                {{year}}
            </li>
            <li>
                {{description}}
            </li>
            {{/each}}
        </ul>
    </div>

    <br>

    <div>
        <strong>Influences</strong>
    </div>
    <div>
        <ul>
            {{influences}}
        </ul>
    </div>

    <br>

    <div>
        <strong>Influenced</strong>
    </div>
    <div>
        <ul>
            {{influenced}}
        </ul>
    </div>

    <br>

    <div>
        <strong>Quotes</strong>
    </div>
    <div>
        <ul>
            {{quotes}}
        </ul>
    </div>

    <br>

    <div>
        <strong>Major discoveries</strong>
    </div>
    <div>
        <ul>
            {{#each major_discoveries}}
            <li>
                {{title}}
            </li>
            <li>
                {{year}}
            </li>
            <li>
                {{description}}
            </li>
            {{/each}}
        </ul>
    </div>

    <br>

    <div>
        <strong>Contributions</strong>
    </div>
    <div>
        <ul>
            {{#with contributions}}
            <li>
                {{title}}
            </li>
            <li>
                {{description}}
            </li>
            <li>
                {{year}}
            </li>
            <li>
                {{field}}
            </li>
            {{/with}}
        </ul>
    </div>

</div>



{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}