<section class="m-5">

    {{!-- <div class="row">
        {{#each footer}}
        <div class="nav col-2">
            <div>
                {{#each this}}
                <div>
                    <a class="nav-link {{#if @last}} disabled {{/if}}" href="{{this.link}}">{{this.text}}</a>
                </div>
                {{/each}}
            </div>

            <div class=" d-flex col-10">
                {{#each footer}}
                <div class="nav">
                    {{#each this}}
                    <div>
                        <a class="nav-link {{#if @last}} disabled {{/if}}" href="{{this.link}}">{{this.text}}</a>
                    </div>
                    {{/each}}
                </div>
                {{/each}}

            </div>
        </div>
    </div> --}}

    <div class=" d-flex col-12">
        {{#each footer}}
        <div class="nav">
            {{#each this}}
            <div>
                <a class="nav-link {{#if @last}} disabled {{/if}}" href="{{this.link}}">{{this.text}}</a>
            </div>
</section>